@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}
div {
  padding: 0.05em;
  margin: 0.8em;
}


.header h1 {
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.5em;
  color: white;
  background-color: CornflowerBlue;
}

.footer {
  position: fixed;
  text-align: center;
  font-weight: bold;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0.15em;
  color: white;
  background-color: CornflowerBlue;
}
/* unvisited link */
.footer a:link {
  color: white;
}
/* visited link */
.footer  a:visited {
  color: white;
}
/* mouse over link */
.footer a:hover {
  color: white;
}
/* selected link */
.footer a:active {
  color: white;
}

.mainContent {
  overflow: auto;
  margin-bottom: 3em;
}
.mainCentral {
  align-items: center;
  text-align: center;
}

iframe {
  margin-left: 1em;
  margin-bottom: 1em;
}


.searchBox {
  text-align: center;
}

.info {
  display:flex;
  align-items:center;
}



.results {
  display: inline-block;
  padding: 1em;
  margin-right: 1em;
  list-style-type: none;
  background-color: #dae9f7;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border-left: 0.4em solid CornflowerBlue;
  border-bottom: 0.1em solid LightBlue;
  float: left;
  width: 40vh;
}

.results a {
  color: Black;
  cursor: pointer;
}
.results a:hover {
  color: Grey;
  cursor: pointer;
  text-decoration: underline;
}

.selected {
  display: inline-block;
  padding: 0.1em;
  background-color: #dae9f7;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border-left: 0.4em solid CornflowerBlue;
  border-bottom: 0.1em solid LightBlue;
  margin: 1em;
  overflow: hidden;
  width: 100vh;
  display:flex;
  align-items:center;
}

.selected a {
  color: CornflowerBlue;
  cursor: pointer;
}
.selected a:hover {
  color: Grey;
  cursor: pointer;
  text-decoration: underline;
}

.selected img {
  margin: 0.75em;
  float: left;
  border: 0.5em solid CornflowerBlue;
  border-radius: 50% 50% 50% 50%;
}

.SearchBar {
  position: relative;
  display: flex;
}
.SearchInput {
  border: 4px solid DodgerBlue;
  padding: 0.5em;
  height: 1.5em;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: DodgerBlue;
}
.SearchButton {
  width: 2em;
  height: 2em;
  border: 4px solid DodgerBlue;
  background: DodgerBlue;
  text-align: center;
  color: White;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 1.3em;
}
.searchDates {
  align-items: center;
  display: inline-flex;
}

.contentBlock {
  margin: 0.25em;
  padding: 0.15em;
  border-left: 0.4em solid CornflowerBlue;
  border-bottom: 0.1em solid LightBlue;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  background-color: #dae9f7;
}
.contentBlock p {
  padding-left: 1em;
}
.contentBlock h1 {
  padding-left: 0.5em;
}
.contentBlock h3 {
  padding-left: 0.75em;
}
.contentBlock h5 {
  padding-left: 1em;
}
.contentBlock h2 {
  padding-left: 0.6em;
}

.divisionBlock {
  margin: 0.25em;
  padding: 0.15em;
  border-left: 0.4em solid CornflowerBlue;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  background-color: #dae9f7;
}





.electionResult {
  margin: 0.8em;
  border: 0.4em solid;
  border-radius: 1em 1em 1em 1em;
  background-color: MintCream;
  color: DarkBlue;
  line-height: 10%;
  width: 50%;
}

.previousMP {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  display:flex;
  align-items:center;
}
.previousMP a {
  color: CornflowerBlue;
  cursor: pointer;
}
.previousMP a:hover {
  color: Grey;
  cursor: pointer;
  text-decoration: underline;
}
.previousMP img {
  float: left;
  border: 0.5em solid CornflowerBlue;
  border-radius: 50% 50% 50% 50%;
  height: 10em;
  width: 10em;
}


/* unvisited link */
.details a:link {
  color: CornflowerBlue;
}
/* visited link */
.details  a:visited {
  color: CornflowerBlue;
}
/* mouse over link */
.details a:hover {
  color: DarkGrey;
}
/* selected link */
.details a:active {
  color: Blue;
}
.items {
  display: flex-block;
}

.individualItem {
  display: inline-block;
  background-color: #ededed;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border-bottom: 0.1em solid Gainsboro;
  border-left: 0.6em solid CornflowerBlue;
  overflow: auto;
  width: 70vh;
  padding-left: 0.5em;
  vertical-align: top;
  text-align: center;
}
.billResult {
  display: inline-block;
  background-color: #ededed;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border-bottom: 0.1em solid Gainsboro;
  border-left: 0.6em solid CornflowerBlue;
  height: 40vh;
  width: 70vh;
  padding-left: 0.5em;
  vertical-align: top;
}
.billResult:hover {
  cursor: pointer;
  background-color: Gainsboro;
  border-left: 0.6em solid DarkBlue;
  border-bottom: 0.1em solid DarkGrey;
}
.billResult h4 {
  text-align: center;
  text-transform: uppercase;
}
.billResult h5 {
  text-align: center;
}
.votingBlock {
  text-align:center;
  height: auto;
}
.voting {
  display: inline-flex;
  align-items:center;
}
.noVote i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px Red;
  color: Crimson;
  background-color: LightPink;
  padding: 0.5em 0.6em;
}
.ayeVote i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px ForestGreen;
  background-color: MediumAquamarine;
  color: Green;
  padding: 0.5em 0.6em;
}
.memberVote i {
  display: inline-block;
  border-radius: 60px;
  box-shadow: 0px 0px 2px DarkBlue;
  color: DarkBlue;
  background-color: CornflowerBlue;
  padding: 0.5em 0.6em;
}
.billTitle {
  text-align: center;
  text-transform: uppercase;
}


.careerSection {
  padding: 0.05em;
  background-color: AliceBlue;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
}
.centreTitle {
  text-align: center;
}
.row {
  display:flex;
  align-items:center;
}
.seatsVisual {
  line-height: 75%;
  word-spacing: -3px;
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  border: 0.1em solid CornflowerBlue;
  background-color: White;
  width: 60%;
}

.expandable {
  text-align: center;
  line-height: 0;
}
.nav i {
  display: inline-block;
  border-radius: 60px;
  background-color: LightBlue;
  padding: 0.5em 0.6em;
}
.nav i:hover {
  text-shadow: 1px 1px CornflowerBlue;
  color: Black;
  cursor: pointer;
}
.expandable:hover {
  text-shadow: 1px 1px CornflowerBlue;
  color: Black;
  cursor: pointer;
}
.votingMember {
  overflow: none;
}
.votingMember a {
  color: Black;
  cursor: pointer;
}
.votingMember:hover {
  color: DarkBlue;
  cursor: pointer;
  text-decoration: underline;
  background-color: Gainsboro;
}
.votingMember img {
  height: 10em;
  width: 10em;
}

.sponsor img {
  height: 5em;
  width: 5em;
  margin: 0.75em;
  float: left;
  border: 0.5em solid CornflowerBlue;
  border-radius: 50% 50% 50% 50%;
}
